params {
    input            = 'assets/proteins_50K.fasta.gz'
    fasta_chunk_size = 10000
    length_threshold = 110

    // Boilerplate options
    outdir           = 'results'
    publish_dir_mode = 'copy'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    conda {
        conda.enabled           = true
        conda.channels          = ['conda-forge', 'bioconda']
    }
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
    }
    test { includeConfig 'conf/test.config' }
}

manifest {
    name            = 'nextflow-beginners-workshop'
    author          = """Evangelos Karatzas"""
    homePage        = 'https://github.com/vagkaratzas/nextflow-beginners-workshop'
    description     = """Nextflow workshop for beginners"""
    version         = '1.0.0'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
